<form action="/login" method="post">
  <h3>Good to see you again!</h3><br>
  <div class="mb-3">
    <label for="name" class="form-label">Email Adress</label>
    <input type="email" class="form-control" name="email" placeholder="yoghi@binar.com" required />
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" placeholder="********" required />
  </div>

  <button type="submit" class="btn btn-primary" style="align-items: center; background-color: #2b2d42; padding: 7px 30px; border: none;">Login</button>
</form>
